@model List<DigitalScores.Models.Liga>

@{
    ViewBag.Title = "LigePreviewAdmin";
    Layout = "~/Views/Shared/_DefaultAdminLayout.cshtml";
}



@section welcome
    {
    <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle">
        <i class="icon icon-user">
        </i>  <span class="text"> @ViewBag.AdminIme @ViewBag.AdminPrezime</span><b class="caret"></b>
    </a>
}
<h2>Upravljanje Ligama i utakmicama</h2>
@if (Model != null && Model.Count != 0)
{
   @Html.ActionLink("+ Dodaj Ligu", "Create", "Lige", new { katId = ViewBag.katId }, new { @class = "button-link-class" })

    <h3>Lige -  @Model.First().LigaKategorija.Naziv</h3>
        <table class="table">

            <tr>
                <th>
                    Liga
                </th>
                <th>
                    Akcije
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naziv)
                    </td>
                    <td>
                        @Html.ActionLink("Utakmice", "ShowGamesAllRounds", "Utakmica", new { ligaId = item.Id }, null) |

                        @Html.ActionLink("Izmeni", "Edit", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
        } else {
        <h2>Nema unesenih utakmica za izabranu ligu</h2>
        <div style='float: right;'>
            <button type="button" class="btn btn-info">
                @Html.ActionLink("+ Dodaj Ligu", "Create", "Lige", new { katId = ViewBag.katId }, new { @class = "button-link-class" })
            </button>
        </div>
}
