@model List<DigitalScores.Models.Liga>

@{
    ViewBag.Title = "LigePreviewDelegate";
    Layout = "~/Views/Shared/_DefaultDelegateLayout.cshtml";
}

@*@<h2>Pregled liga -  @Model.First().LigaKategorija.Naziv</h2*@


<table class="table">
    <tr>
        <th>
            Naziv lige
        </th>
        
        <th>Akcije</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.ActionLink("Prikaz utakmica tekuceg kola", "ShowGamesActiveRound", "Utakmica", new { ligaId=item.Id }, null) 
        </td>
    </tr>
}

</table>
@section welcome
{
    <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle">
        <i class="icon icon-user"></i>
        <span class="text">Dobrodošli @ViewBag.DelegatIme @ViewBag.DelegatPrezime</span><b class="caret"></b>
    </a>
}