@model IEnumerable<DigitalScores.Models.Liga>

@{
    ViewBag.Title = "SelectLeague";
    Layout = "~/Views/Shared/_DefaultAdminLayout.cshtml";
}
@section welcome
    {
    <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle">
        <i class="icon icon-user">
        </i>  <span class="text"> @ViewBag.AdminIme @ViewBag.AdminPrezime</span><b class="caret"></b>
    </a>
}
<h2>Pronadjite ligu i izaberite je</h2>
@*<table>
    <tr>
        <td>
            @using (Html.BeginForm())
            {
                <p>
                    <br />
                    @Html.TextBox("ligaCat", "",
                       new
                       {
                           @class = "form-control",
                           @placeholder = "Kategorija:"
                       })
                    <br />
                    @Html.TextBox("nazivLige", "", new
               {
                   @class = "form-control",
                   @placeholder = "Liga:"
               })

                    <br />
                    @Html.Hidden("klubId", (int)ViewBag.KlubId)
                    <input type="submit" value="Filter" class="btn btn-default">
                </p>
            }
        </td>
        <td>
            <table class="table">
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.Naziv)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LigaKategorija)
                    </th>
                </tr>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Naziv)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LigaKategorija.Naziv)
                            </td>

                            @if (ViewBag.KlubId == 0)
                            {
                                <td>
                                    @Html.ActionLink("Izaberi", "Create", "Klub", new { ligaId = item.Id, nazivLige = item.Naziv }, null)
                                </td>
                            }
                            @if (ViewBag.KlubId != 0)
                            {
                                <td>
                                    @Html.ActionLink("Izaberi", "Edit", "Klub", new { idKlub = ViewBag.KlubId, idLige = item.Id, nazivLige = item.Naziv }, null)
                                </td>

                            }

                        </tr>
                    }
                }
                @if (Model == null)
                {
                    <tr>
                        <td>Uneseni podaci nis validni.</td>
                    </tr>
                }

            </table>
        </td>
    </tr>
</table>*@


@*<script type="text/javascript">
    $(document).ready(function () {
        if (!Modernizr.input.placeholder) {
            $("input").each(function () {
                if ($(this).val() == "" && $(this).attr("placeholder") != "") {
                    $(this).val($(this).attr("placeholder"));
                    $(this).focus(function () {
                        if ($(this).val() == $(this).attr("placeholder")) $(this).val("");
                    });
                    $(this).blur(function () {
                        if ($(this).val() == "") $(this).val($(this).attr("placeholder"));
                    });
                }
            });
        }
    });
</script>*@

<body>
    <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-info-sign"></i> </span>
                        <h5>Pretraga liga po nazivu i kategoriji</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <section id="LeagueFilterForm">

                            @using (Html.BeginForm("SelectLeague", "Lige", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                            <div class="control-group">
                                <div class="controls">
                                    @Html.TextBox("ligaCat", "",  new { @class = "form-control", @placeholder = "Kategorija:"})
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    @Html.TextBox("nazivLige", "", new { @class = "form-control", @placeholder = "Liga:"})
                                </div>
                            </div>
                            @Html.Hidden("klubId", (int)ViewBag.KlubId)
                            <div class="form-actions">
                                <input type="submit" value="Pronadji" class="btn btn btn-default" />
                            </div>
                            }
                        </section>
                    </div>
                    <div class="widget-content nopadding">
                        <section id="LeagueDisplayForm">
                            <table class="table">
                                <tr>

                                    <th>
                                        <label class = "control-label">Naziv Lige</label>
                                    </th>
                                    <th>
                                        <label class="control-label">Naziv kategorije</label>
                                    </th>
                                    <th>
                                        <label class="control-label">Akcije</label>
                                    </th>
                                </tr>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Naziv)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LigaKategorija.Naziv)
                                            </td>

                                            @if (ViewBag.KlubId == 0)
                                            {
                                                <td>
                                                    @Html.ActionLink("Izaberi", "Create", "Klub", new { ligaId = item.Id, nazivLige = item.Naziv }, null)
                                                </td>
                                            }
                                            @if (ViewBag.KlubId != 0)
                                            {
                                                <td>
                                                    @Html.ActionLink("Izaberi", "Edit", "Klub", new { idKlub = ViewBag.KlubId, idLige = item.Id, nazivLige = item.Naziv }, null)
                                                </td>

                                            }

                                        </tr>
                                    }
                                }
                                @if (Model == null)
                                {
                                    <tr>
                                        <td>Uneseni podaci nisu validni.</td>
                                    </tr>
                                }

                            </table>
                        </section>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--Footer-part-->
    <div class="row-fluid">
        <div id="footer" class="span12"> 2018 &copy; Digital Score. Power by DScore <a href="http://www.digitalscore.org"></a> </div>
    </div>
    <!--end-Footer-part-->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.ui.custom.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.uniform.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/jquery.validate.js"></script>
    <script src="js/herc.js"></script>
    <script src="js/herc.form_validation.js"></script>
</body>