@model List<DigitalScores.Models.Utakmice>

@{
    ViewBag.Title = "GamePreview";
    Layout = "~/Views/Shared/_DefaultDelegateLayout.cshtml";
}

@if (Model != null)
{
    <h3>Utakmice @Model.FirstOrDefault().KoloUtakmice.Naziv</h3>
    <table class="table">

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KlubDomacin.Naziv)
            </td>
            <td>
                :
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KlubGost.Naziv)
            </td>
            <td>
                @Html.ActionLink("Edit", "UnosRezultata", "Rezultati", new { utakmicaId = item.Id }, null)
            </td>
        </tr>
        }
    </table>
    @section welcome
{
        <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle">
            <i class="icon icon-user"></i>
            <span class="text">Dobrodošli @ViewBag.DelegatIme @ViewBag.DelegatPrezime</span><b class="caret"></b>
        </a>
    }
}