@model List<DigitalScores.Models.Utakmice>

@{
    ViewBag.Title = "GamePreviewAdmin";
    Layout = "~/Views/Shared/_DefaultAdminLayout.cshtml";
}


@if (Model != null && Model.Count != 0)
{
    <button>
        @Html.ActionLink("Dodaj Utakmicu", "Create", "Utakmica", new { ligaId = ViewBag.LigaId }, null)
    </button>

    <table class="table">

        @foreach (var item in Model)
                {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KlubDomacin.Naziv)
            </td>
            <td>
                :
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KlubGost.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KoloUtakmice.Naziv)
            </td>


        </tr>
        }
    </table>
 
}
else {
<h2>Nema unesenih utakmica za izabranu ligu</h2>
<button>
    @Html.ActionLink("Dodaj Utakmicu", "Create", "Utakmica", new { ligaId = ViewBag.LigaId }, null)
</button>
}
@*@section welcome
{
    <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle">
        <i class="icon icon-user"></i>
        <span class="text">Dobrodošli @ViewBag.DelegatIme @ViewBag.DelegatPrezime</span><b class="caret"></b>
    </a>
*@