@model List<DigitalScores.Models.Utakmice>

@{
    ViewBag.Title = "GamePreview";
    Layout = "~/Views/Shared/_DefaultDelegateLayout.cshtml";
}

@if (Model != null && Model.Count!=0)
{
    <h3>Utakmice @Model.FirstOrDefault().KoloUtakmice.Naziv - @Model.FirstOrDefault().LigaUtakmice.Naziv</h3>
    <table class="table">
        <tr>
            <th>
                Klub domacin
            <th>
                
            </th>
            <th>
                Klub gost
            </th>
          
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KlubDomacin.Naziv)
            </td>
            <td>
                :
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KlubGost.Naziv)
            </td>
            <td>
                @Html.ActionLink("Unesi rezultat", "UnosRezultata", "Rezultati", new { utakmicaId = item.Id }, null) |
                @Html.ActionLink("Detalji rezultata", "PregledRezultataUtakmice", "Rezultati", new { utakmicaId = item.Id }, null)
            </td>
        </tr>
        }
    </table>
 
}
else {
<h2>Nema unesenih utakmica za tekuće kolo</h2>
}
@section welcome
{
    <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle">
        <i class="icon icon-user"></i>
        <span class="text">Dobrodošli @ViewBag.DelegatIme @ViewBag.DelegatPrezime</span><b class="caret"></b>
    </a>
}