@model IEnumerable<DigitalScores.Models.Kolo>

@{
    ViewBag.Title = "KoloPreview";
    Layout = "~/Views/Shared/_DefaultAdminLayout.cshtml";
}


<div style='float: right;'>
    <button type="button" class="btn btn-info">
        @Html.ActionLink("+ Dodaj Kolo", "Create", "Kolo", null, new { @class = "button-link-class" })
    </button>
</div>
<h3>Spisak Kola</h3>
        <table class="table">
            <tr>
                <th>
                    Naziv
                </th>
                <th>
                    Sezona
                </th>
                <th>
                    Liga
                </th>
                <th>Akcije</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naziv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KoloSezona.Naziv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KoloLiga.Naziv)
                    </td>
                    <td>
                        @Html.ActionLink("Izmeni", "Edit", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
