@model IEnumerable<DigitalScores.Models.Users>

@{
    ViewBag.Title = "Listing";
    Layout = "~/Views/Shared/_DefaultAdminLayout.cshtml";
}



    <div style='float: right;'>
        <button type="button" class="btn btn-info">
            @Html.ActionLink("+ Dodaj Novog Korisnika", "Create", "Hala", null, new { @class = "button-link-class" })
        </button>
    </div>
<h3>Korisnici</h3>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserPrivilege)
            </th>
            <th>Akcije</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prezime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Region)
                </td>
                @if (item.UserPrivilege == DigitalScores.Models.Privilege.Admin)
                {
                    <td>
                        @Html.Label("Administrator")
                    </td>
                }
                @if (item.UserPrivilege == DigitalScores.Models.Privilege.Delegate)
                {
                    <td>
                        @Html.Label("Delegat")
                    </td>
                }
                <td>
                    @Html.ActionLink("Izmeni", "Edit", new { id = item.Id }, new { @style = "font-size:14px" })
                    @*@Html.ActionLink("Detalji", "Details", new { id = item.Id }, new { @style = "font-size:14px" }) |*@
                    @*@Html.ActionLink("Obrisi", "Delete", new { id = item.Id }, new { @style = "font-size:14px" })*@
                </td>
            </tr>
        }

    </table>
