@model IEnumerable<DigitalScores.Models.Sudija>

@{
    ViewBag.Title = "RefereeListing";
    Layout = "~/Views/Shared/_DefaultAdminLayout.cshtml";
}

@section welcome
    {
    <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle">
        <i class="icon icon-user">
        </i>  <span class="text"> @ViewBag.AdminIme @ViewBag.AdminPrezime</span><b class="caret"></b>
    </a>
}

@Html.ActionLink("+ Dodaj Sudiju", "Create", "Referee", null, new { @class = "button-link-class" })
<h3>Sudije</h3>
    <table class="table">
        <tr>
            <th>
                Ime i Prezime
            <th>
                Email
            </th>
            <th>
                Telefon
            </th>
            <th>
                Grad
            </th>
            <th>Akcije</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ime) @Html.DisplayFor(modelItem => item.Prezime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grad)
                </td>
                <td>
                    @Html.ActionLink("Izmeni", "Edit", new { id = item.Id })

                </td>
            </tr>
        }

    </table>
    <button></button>
