
@{
    Layout = null;
}

@RenderSection("scripts", required: false)

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Digital Score</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/Content/fullcalendar.css" />
    <link rel="stylesheet" href="~/Content/herc-style.css" />
    <link rel="stylesheet" href="~/Content/herc-media.css" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/jquery.gritter.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

    <!--Header-part-->
    <div id="header">
        <h1><a href="dashboard.html">Digital Score</a></h1>
    </div>
    <!--close-Header-part-->
    <!--top-Header-menu-->
    <div id="user-nav" class="navbar navbar-inverse">
        <ul class="nav">
            <li class="dropdown" id="profile-messages">
                @RenderSection("welcome", false)
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="icon-user"></i> Početna</a></li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Izlaz", "Logoff", "User")</li>
                </ul>
            </li>
            <li class="">@Html.ActionLink("Izlaz", "Logoff", "User")</li>
            @*<li class=""><a title="" href="#"><i class="icon icon-cog"></i> <span class="text">Podešavanja</span></a></li>*@
        </ul>
    </div>

    
    <!--close-top-Header-menu-->
    <!--start-top-serch-->
    <!--close-top-serch-->
    <!--sidebar-menu-->
    <div id="sidebar">
        <a href="#" class="visible-phone"><i class="icon icon-home"></i> Početna</a>
        <ul>
            <li class="active"><a href="~/Admin/Index"><i class="icon icon-home"></i> <span>Početna</span></a> </li>
            <li class="submenu">
                <a href="#"><i class="icon icon-th-list"></i> <span>Sekcija 1</span></a>
                <ul>
                    <li> <a href="@Url.Action("Index", "Referee")"><i class="icon icon-th-list"></i> <span>Sudije</span></a> </li>
                    <li><a href="@Url.Action("Index", "Komesari")"><i class="icon icon-th-list"></i> <span>Komesari</span></a></li>
                    <li><a href="@Url.Action("Index", "Hala")"><i class="icon icon-th-list"></i> <span>Hale</span></a></li>
                </ul>
            </li>     

            <li class="submenu">
                <a href="#"><i class="icon icon-th-list"></i> <span>Sekcija 2</span></a>
                <ul>
                    <li><a href="@Url.Action("Index", "Kolo")"><i class="icon icon-th-list"></i> <span>Kolo</span></a></li>
                    <li><a href="@Url.Action("Index", "Sezona")"><i class="icon icon-th-list"></i> <span>Sezona</span></a></li>
                    <li>
                        <a href="@Url.Action("Index", "Kategorija")"><i class="icon icon-th-list"></i> <span>Kategorije</span></a>
                    </li>
                </ul>
            </li>

            <li class="submenu">
                <a href="#"><i class="icon icon-th-list"></i> <span>Sekcija 3</span></a>
                <ul>                    
                    <li>
                        <a href="@Url.Action("Index", "Kategorija")"><i class="icon icon-th-list"></i> <span>Utakmice</span></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Lige")"><i class="icon icon-th-list"></i> <span>Lige</span></a>
                    </li>

                    <li><a href="@Url.Action("KlubListing", "Klub")"><i class="icon icon-th-list"></i> <span>Klubovi</span></a></li>
                </ul>
            </li>

            @*<li class="submenu">
                <a href="#"><i class="icon icon-th-list"></i> <span>Sekcija</span></a>
                <ul></ul>
            </li>*@

            <li class="active"><a href="@Url.Action("Listing", "User")"><i class="icon icon-home"></i> <span>Administracija korisnika</span></a> </li>
                       

        </ul>
    </div>
    <!--sidebar-menu-->
    <!--main-container-part-->
    <div id="content">
        <!--breadcrumbs-->
        <div id="content-header">
            <div id="breadcrumb"> <a href="admin/index" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Početna</a></div>
        </div>
        <!--End-breadcrumbs-->
        <!--Action boxes-->
        <div class="container-fluid">
            <div class="quick-actions_homepage">
                <ul class="quick-actions">
                    @*Ovde idu HTML helperi za Redirect Actions
                        Postoji nekoliko verzija, zavisi da li je potrebno da se proslede vrednosti sa forme ili ne.*@
                    @*<li class="bg_lb">@Html.ActionLink("Pocetna", "Index", "Admin")</li>
                    <li class="bg_lb span3">@Html.ActionLink("Muska Kategorija", "LeaguesForCategory", "Lige", new { katId = 1 }, null)</li>
                    <li class="bg_lb span3">@Html.ActionLink("Zenska Kategorija", "LeaguesForCategory", "Lige", new { katId = 2 }, null)</li>
                    <li class="bg_lb span3">@Html.ActionLink("Omladinska Kategorija", "LeaguesForCategory", "Lige", new { katId = 3 }, null)</li>*@

                    @*<li class="bg_lg span3"> <a href="tabele.html"> <i class="icon-signal"></i> Tabele</a> </li>
                    <li class="bg_ly"> <a href="widgets.html"> <i class="icon-inbox"></i>Licence </a> </li>
                    <li class="bg_lo"> <a href="raspored.html"> <i class="icon-th"></i> Raspored</a> </li>
                    <li class="bg_ls"> <a href="grid.html"> <i class="icon-fullscreen"></i> Prikaz iFrame</a> </li>
                    <li class="bg_lo span3"> <a href="form-common.html"> <i class="icon-th-list"></i> Forme</a> </li>
                    <li class="bg_ls"> <a href="buttons.html"> <i class="icon-tint"></i> Delegati upisi</a> </li>
                    <li class="bg_lb"> <a href="interface.html"> <i class="icon-pencil"></i>Izmene</a> </li>
                    <li class="bg_lg"> <a href="calendar.html"> <i class="icon-calendar"></i> Kalendar </a> </li>
                    <li class="bg_lr"> <a href="error404.html"> <i class="icon-info-sign"></i> Greške</a> </li>*@

                </ul>
            </div>
            <!--End-Action boxes-->
            <!--Chart-box-->
            <div class="row-fluid">
                <div class="widget-box"> </div>
            </div>
            <!--End-Chart-box-->

            <div class="row-fluid">
                @RenderBody()
                @*Divovi za Lige i kos razliku*@
                @*<div class="span6">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"><i class="icon-ok"></i></span>
                            <h5>Koš razlika</h5>
                        </div>
                        <div class="widget-content">
                            <ul class="unstyled">
                                <li>
                                    <span class="icon24 icomoon-icon-arrow-up-2 green"></span> Klub 1 <span class="pull-right strong">567</span>
                                    <div class="progress progress-striped ">
                                        <div style="width: 81%;" class="bar"></div>
                                    </div>
                                </li>
                                <li>
                                    <span class="icon24 icomoon-icon-arrow-up-2 green"></span> 72% Uniquie Clicks <span class="pull-right strong">507</span>
                                    <div class="progress progress-success progress-striped ">
                                        <div style="width: 72%;" class="bar"></div>
                                    </div>
                                </li>
                                <li>
                                    <span class="icon24 icomoon-icon-arrow-down-2 red"></span> 53% Impressions <span class="pull-right strong">457</span>
                                    <div class="progress progress-warning progress-striped ">
                                        <div style="width: 53%;" class="bar"></div>
                                    </div>
                                </li>
                                <li>
                                    <span class="icon24 icomoon-icon-arrow-up-2 green"></span> 3% Online Users <span class="pull-right strong">8</span>
                                    <div class="progress progress-danger progress-striped ">
                                        <div style="width: 3%;" class="bar"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="widget-box">
                        <div class="widget-title">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab1">Liga 1</a></li>
                                <li><a data-toggle="tab" href="#tab2">Liga 2</a></li>
                                <li><a data-toggle="tab" href="#tab3">Liga 3</a></li>
                                <li><a data-toggle="tab" href="#tab2">Liga 4</a></li>
                                <li><a data-toggle="tab" href="#tab3">Liga 5</a></li>
                                <li><a data-toggle="tab" href="#tab2">Liga 6</a></li>
                                <li><a data-toggle="tab" href="#tab3">Liga 7</a></li>
                                <li><a data-toggle="tab" href="#tab2">Liga 8</a></li>
                                <li><a data-toggle="tab" href="#tab3">Liga 9</a></li>
                            </ul>
                        </div>
                        <div class="widget-content tab-content">
                            <div id="tab1" class="tab-pane active">
                                <p>Liga tabela</p>
                            </div>
                            <div id="tab2" class="tab-pane">
                                <p>Liga tabela</p>
                            </div>
                            <div id="tab3" class="tab-pane">
                                <p>Liga tabela </p>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>

    <!--end-main-container-part-->
    <!--Footer-part-->

    <div class="row-fluid">
        <div id="footer" class="span12"> 2018 &copy; Digital Score. Power by DScore <a href="http://www.digitalscore.org"></a> </div>
    </div>

    <!--end-Footer-part-->

    <script src="~/Scripts/excanvas.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.ui.custom.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.flot.min.js"></script>
    <script src="~/Scripts/jquery.flot.resize.min.js"></script>
    <script src="~/Scripts/jquery.peity.min.js"></script>
    <script src="~/Scripts/fullcalendar.min.js"></script>
    <script src="~/Scripts/herc.js"></script>
    <script src="~/Scripts/herc.dashboard.js"></script>
    <script src="~/Scripts/jquery.gritter.min.js"></script>
    <script src="~/Scripts/herc.interface.js"></script>
    <script src="~/Scripts/herc.chat.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/herc.form_validation.js"></script>
    <script src="~/Scripts/jquery.wizard.js"></script>
    <script src="~/Scripts/jquery.uniform.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/herc.popover.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/herc.tables.js"></script>

    <script type="text/javascript">
  // This function is called from the pop-up menus to transfer to
  // a different page. Ignore if the value returned is a null string:
  function goPage (newURL) {

      // if url is empty, skip the menu dividers and reset the menu selection to default
      if (newURL != "") {

          // if url is "-", it is this page -- reset the menu:
          if (newURL == "-" ) {
              resetMenu();
          }
          // else, send page to designated URL
          else {
            document.location.href = newURL;
          }
      }
  }


    </script>
</body>
</html>

