@model IEnumerable<DigitalScores.Models.Kategorija>

@{
    ViewBag.Title = "KategorijeListing";
    Layout = "~/Views/Shared/_DefaultAdminLayout.cshtml";
}


@section welcome
    {
    <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle">
        <i class="icon icon-user">
        </i>  <span class="text"> @ViewBag.AdminIme @ViewBag.AdminPrezime</span><b class="caret"></b>
    </a>
}
 @Html.ActionLink("+ Dodaj kategoriju", "Create", null, new { @class = "button-link-class" })

<h3>Upravljanje Kategorijama i Ligama</h3>
        <table class="table">
            <tr>
                <th>
                    Naziv Kategorije
                </th>
                <th>
                    Akcije
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naziv)
                    </td>
                    <td>
                        @Html.ActionLink("Lige", "LeaguesForCategory", "Lige", new { katId = item.Id }, null) |
                        @Html.ActionLink("Izmeni", "Edit", "Kategorija", new { id = item.Id }, null)
                    </td>
                </tr>
            }

        </table>
