@model DigitalScores.Models.Rezultati

@{
    ViewBag.Title = "UnosRezultata";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<h2>Unos Rezultata</h2>

<div id="breadcrumb"> <a href="@Url.Action("Index", "Admin")" title="Glavna strana" class="tip-bottom"><i class="icon-home"></i> Glavna strana</a> <a class="tip-bottom">@Model.RezultatUtakmica.Sezona.Naziv</a><a class="current">@Model.RezultatUtakmica.LigaUtakmice.Naziv</a> <a class="current">@Model.RezultatUtakmica.KoloUtakmice.Naziv</a> </div>
<section id="rezultatiForma">
    @using (Html.BeginForm("Create", "Rezultati", new { utakmicaId = Model.RezultatUtakmica.Id }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
    
        <div class="form-horizontal">
            <hr />
            <table id="klubovi" class="table-responsive">
                <tr>
                    <td>
                        <div class="text-center"><h3>@Model.RezultatUtakmica.KlubDomacin.Naziv</h3></div>
                    </td>
                    <td>
                        <div class="text-center"><h3><span> - </span></h3></div>
                    </td>
                    <td>
                        <div class="text-center"><h3>@Model.RezultatUtakmica.KlubGost.Naziv</h3></div>
                    </td>
                </tr>
            </table>
            <hr />
            <table id="rezPoCetvrtinama" class="table-responsive">
                <tr><td></td><td><h6>Q1</h6></td><td></td></tr>
                <tr>
                    <td>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="control-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.RezultatQ1D, new { htmlAttributes = new { @class = "form-control", @id = "rezQ1D" } })
                                    @Html.ValidationMessageFor(model => model.RezultatQ1D, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">:</td>
                    <td>
                        <div class="form-group">
                            <div class="control-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.RezultatQ1G, new { htmlAttributes = new { @class = "form-control", @id = "rezQ1G" } })
                                    @Html.ValidationMessageFor(model => model.RezultatQ1G, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr><td></td><td><h6>Q2</h6></td><td></td></tr>
                <tr>
                    <td>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="control-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.RezultatQ2D, new { htmlAttributes = new { @class = "form-control", @id = "rezQ2D" } })
                                    @Html.ValidationMessageFor(model => model.RezultatQ2D, "", new { @class = "text-danger", @id = "rezQ2G" })
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">:</td>
                    <td>
                        <div class="form-group">
                            <div class="control-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.RezultatQ2G, new { htmlAttributes = new { @class = "form-control", @id = "rezQ2G" } })
                                    @Html.ValidationMessageFor(model => model.RezultatQ2G, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr><td></td><td><h6>Q3</h6></td><td></td></tr>
                <tr>
                    <td>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="control-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.RezultatQ3D, new { htmlAttributes = new { @class = "form-control", @id = "rezQ3D" } })
                                    @Html.ValidationMessageFor(model => model.RezultatQ3D, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">:</td>
                    <td>
                        <div class="form-group">
                            <div class="control-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.RezultatQ3G, new { htmlAttributes = new { @class = "form-control", @id = "rezQ3G" } })
                                    @Html.ValidationMessageFor(model => model.RezultatQ3G, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr><td></td><td><h6>Q4</h6></td><td></td></tr>
                <tr>
                    <td>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="control-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.RezultatQ4D, new { htmlAttributes = new { @class = "form-control", @id = "rezQ4D" } })
                                    @Html.ValidationMessageFor(model => model.RezultatQ4D, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">:</td>
                    <td>
                        <div class="form-group">
                            <div class="control-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.RezultatQ4G, new { htmlAttributes = new { @class = "form-control", @id = "rezQ4G" } })
                                    @Html.ValidationMessageFor(model => model.RezultatQ4G, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            
            </table>
            <hr />
            <table id="produzeci" class="table-responsive">

                <tr><td></td><td><h6>OT1</h6></td><td></td></tr>
                <tr>
                    <td>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="control-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.RezultatOT1D, new { htmlAttributes = new { @class = "form-control", @id = "OT1D" } })
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">:</td>
                    <td>
                        <div class="form-group">
                            <div class="control-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.RezultatOT1G, new { htmlAttributes = new { @class = "form-control", @id = "OT1G" } })
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr><td></td><td><h6>OT2</h6></td><td></td></tr>
                <tr>
                    <td>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="control-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.RezultatOT2D, new { htmlAttributes = new { @class = "form-control", @id = "OT2D" } })
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">:</td>
                    <td>
                        <div class="form-group">
                            <div class="control-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.RezultatOT2G, new { htmlAttributes = new { @class = "form-control", @id = "OT2G" } })
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

            </table>
            <hr />
            <table id="rezPoluvreme" class="table-responsive">
                <tr><td></td><td><h6>HT1</h6></td><td></td></tr>
                <tr>
                    <td>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="control-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.RezultatH1D, new { htmlAttributes = new { @class = "form-control", @id = "rezH1D" } })
                                    @Html.ValidationMessageFor(model => model.RezultatH1D, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">:</td>
                    <td>
                        <div class="form-group">
                            <div class="control-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.RezultatH1G, new { htmlAttributes = new { @class = "form-control", @id = "rezH1G" } })
                                    @Html.ValidationMessageFor(model => model.RezultatH1G, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr><td></td><td><h6>HT2</h6></td><td></td></tr>
                <tr>
                    <td>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="control-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.RezultatH2D, new { htmlAttributes = new { @class = "form-control", @id = "rezH2D" } })
                                    @Html.ValidationMessageFor(model => model.RezultatH2D, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">:</td>
                    <td>
                        <div class="form-group">
                            <div class="control-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.RezultatH2G, new { htmlAttributes = new { @class = "form-control", @id = "rezH2G" } })
                                    @Html.ValidationMessageFor(model => model.RezultatH2G, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <table id="konacanRez" class="table-responsive">
                <tr><td></td><td><h6>FS </h6></td><td></td></tr>
                <tr>
                    <td>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="control-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.RezultatKonacniD, new { htmlAttributes = new { @class = "form-control", @id = "rezFinD" } })
                                    @Html.ValidationMessageFor(model => model.RezultatKonacniD, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">:</td>
                    <td>
                        <div class="form-group">
                            <div class="control-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.RezultatKonacniG, new { htmlAttributes = new { @class = "form-control", @id = "rezFinG" } })
                                    @Html.ValidationMessageFor(model => model.RezultatKonacniG, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <hr />
            
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Sacuvaj" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</section>

<div>
    @Html.ActionLink("Nazad", "Index", "Utakmica", new { ligaId = Model.RezultatUtakmica.LigaUtakmice.Id }, new { @class = "form-control"})
</div>

<script>
    function addToFinalScore() {
        var q1d = document.getElementById("rezQ1D").value;
        document.getElementById("rezFinD").value = 0;
        document.getElementById("rezFinD").value = parseInt(q1d) + parseInt(document.getElementById("rezFinG").value);
    }
</script>