@model DigitalScores.Models.Rezultati

@{
    ViewBag.Title = "UnosRezultata";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<h2>Unos Rezultata</h2>

@Model.RezultatUtakmica.KoloUtakmice.Naziv
@using (Html.BeginForm("Create", "Rezultati", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Rezultati</h4>
        <hr />
        
        <table class="table-responsive table-bordered">
            <tr><td><h6>Q1</h6></td></tr>
            <tr>
                <td>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="control-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.RezultatQ1D, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.RezultatQ1D, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </td>
                <td>:</td>
                <td>
                    <div class="form-group">
                        <div class="control-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.RezultatQ1G, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.RezultatQ1G, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr><td><h6>Q2</h6></td></tr>
            <tr>
                <td>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="control-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.RezultatQ2D, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.RezultatQ2D, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </td>
                <td>:</td>
                <td>
                    <div class="form-group">
                        <div class="control-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.RezultatQ2G, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.RezultatQ2G, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr><td><h6>Q3</h6></td></tr>
            <tr>
                <td>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="control-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.RezultatQ3D, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.RezultatQ3D, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </td>
                <td>:</td>
                <td>
                    <div class="form-group">
                        <div class="control-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.RezultatQ3G, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.RezultatQ3G, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr><td><h6>Q4</h6></td></tr>
            <tr>
                <td>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="control-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.RezultatQ4D, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.RezultatQ4D, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </td>
                <td>:</td>
                <td>
                    <div class="form-group">
                        <div class="control-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.RezultatQ4G, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.RezultatQ4G, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            
        </table>

        <hr />

        <table class="table-responsive table-bordered">

            <tr><td><h6>OT1</h6></td></tr>
            <tr>
                <td>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="control-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.RezultatOT1D, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.RezultatOT1D, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </td>
                <td>:</td>
                <td>
                    <div class="form-group">
                        <div class="control-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.RezultatOT1G, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.RezultatOT1G, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr><td><h6>OT2</h6></td></tr>
            <tr>
                <td>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="control-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.RezultatOT2D, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.RezultatOT2D, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </td>
                <td>:</td>
                <td>
                    <div class="form-group">
                        <div class="control-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.RezultatOT2G, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.RezultatOT2G, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

        </table>

        <hr />
        <table class="table-responsive table-bordered">
            <tr><td><h6>H1</h6></td></tr>
            <tr>
                <td>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="control-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.RezultatH1D, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.RezultatH1D, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </td>
                <td>:</td>
                <td>
                    <div class="form-group">
                        <div class="control-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.RezultatH1G, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.RezultatH1G, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr><td><h6>H2</h6></td></tr>
            <tr>
                <td>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="control-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.RezultatH2D, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.RezultatH2D, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </td>
                <td>:</td>
                <td>
                    <div class="form-group">
                        <div class="control-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.RezultatH2G, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.RezultatH2G, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <hr />
            
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sacuvaj" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
