@model DigitalScores.Models.Klub
@using DigitalScores.DbManagers 

@{
    ViewBag.Title = "KlubCreate";
    Layout = "~/Views/Shared/_DefaultAdminLayout.cshtml";
}

@section welcome
    {
    <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle">
        <i class="icon icon-user">
        </i>  <span class="text"> @ViewBag.AdminIme @ViewBag.AdminPrezime</span><b class="caret"></b>
    </a>
}

<h2>Dodaj novi klub</h2>

<body>
    <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-info-sign"></i> </span>
                        <h5>Unos podataka za novi klub</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <section id="KlubEntryForm">

                            @using (Html.BeginForm("Create", "Klub", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                <div class="control-group">
                                    @Html.LabelFor(model => model.Naziv, htmlAttributes: new { @class = "control-label" })
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.Naziv, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Naziv)
                                    </div>
                                </div>
                                <div class="control-group">
                                    @Html.LabelFor(model => model.Grad, htmlAttributes: new { @class = "control-label" })
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.Grad, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Grad)
                                    </div>
                                </div>

                                <div class="control-group">
                                    @Html.LabelFor(model => model.Trener, htmlAttributes: new { @class = "control-label" })
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.Trener, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Trener)
                                    </div>
                                </div>

                                @*<div class="control-group">
                                    @Html.LabelFor(model => model.LicencaPDF, htmlAttributes: new { @class = "control-label" })
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.LicencaPDF, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.LicencaPDF)
                                    </div>
                                </div>*@

                                <div class="control-group">
                                    @Html.LabelFor(model => model.KlubSport.Naziv, htmlAttributes: new { @class = "control-label" })
                                    <div class="controls">
                                       @Html.DropDownListFor(m => m.KlubSport.Id,
                                               new SelectList(SportDbManager.Current.GetAll(), "Id", "Naziv",
                                                "Izaberi Sport"))
                                        @Html.ValidationMessageFor(m => m.KlubSport.Id)
                                    </div>
                                </div>

                                <div class="control-group">
                                    @Html.LabelFor(m => m.LigaKlub.Naziv, htmlAttributes: new { @class = "control-label" })
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.LigaKlub.Naziv, new { @class = "form-control" })
                                        @Html.ActionLink("Izaberite Ligu", "SelectLeague", "Lige", new { klubId = 0 }, null)
                                        @Html.HiddenFor(model => model.LigaKlub.Id)
                                    </div>
                                </div>

                                <div class="form-actions">
                                    <input type="submit" value="Snimi" class="btn btn-success" /> |
                                    @Html.ActionLink("Nazad na listu klubova", "KlubListing",null, new { @style="font-size:13px"})
                                </div>
                            }
                        </section>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--Footer-part-->
    <div class="row-fluid">
        <div id="footer" class="span12"> 2018 &copy; Digital Score. Power by DScore <a href="http://www.digitalscore.org"></a> </div>
    </div>
    <!--end-Footer-part-->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.ui.custom.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.uniform.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/jquery.validate.js"></script>
    <script src="js/herc.js"></script>
    <script src="js/herc.form_validation.js"></script>
</body>



<div>
    @Html.ActionLink("Nazad na listu klubova", "KlubListing", new { @style = "font-size:15px" })
</div>
