@model IEnumerable<DigitalScores.Models.Klub>

@{
    ViewBag.Title = "KlubListing";
    Layout = "~/Views/Shared/_DefaultAdminLayout.cshtml";
}

<h2>Prikaz svih klubova</h2>

<p>
    @Html.ActionLink("Dodaj Klub", "Create", "Klub")
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trener)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LicencaPDF)
        </th>
        <th>@Html.DisplayNameFor(model => model.LigaKlub)</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trener)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicencaPDF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LigaKlub.Naziv)
        </td>
        <td>
            @Html.ActionLink("Izmeni", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Pregled", "Details", new { id=item.Id }) |
            @Html.ActionLink("Obrisi", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</table>
