@model DigitalScores.Models.Klub
@using DigitalScores.DbManagers 

@{
    ViewBag.Title = "KlubCreate";
    Layout = "~/Views/Shared/_DefaultAdminLayout.cshtml";
}

<h2>Dodaj novi klub</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />       
        <table id="clubsAdmin" class="table-responsive">
            <tr>
                <td>@Html.LabelFor(model => model.Naziv, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                <td>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Naziv, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Naziv, "", new { @class = "text-danger" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Grad, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                <td>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Grad, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Grad, "", new { @class = "text-danger" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Trener, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                <td>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Trener, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Trener, "", new { @class = "text-danger" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.LicencaPDF, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                <td>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LicencaPDF, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LicencaPDF, "", new { @class = "text-danger" })
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <rd>@Html.DropDownListFor(m => m.KlubSport.Id,
                                               new SelectList(SportDbManager.Current.GetAll(), "Id", "Naziv",
                                                "Izaberi Sport"))</rd>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.LigaKlub, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                <td>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LigaKlub.Naziv, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ActionLink("Izaberite Ligu", "SelectLeague", "Lige", new { klubId = 0},null)
                        @Html.HiddenFor(model => model.LigaKlub.Id)
                    </div>
                </td>
            </tr>
        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sacuvaj" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Nazad na listu klubova", "KlubListing")
</div>
