@model DigitalScores.Models.Users

@{
    ViewBag.Title = "Delegati";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<h2>Delegati</h2>

<body>
    <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-info-sign"></i> </span>
                        <h5>Unos Delegata</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <section id="DelegateEntryForm">

                            @using (Html.BeginForm("Create", "Delegates", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                <div class="control-group">
                                    <label class="control-label">Korisnicko Ime</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Username)
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Password</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password)
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Privilege</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.Privilege, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Privilege)
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Ime</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.Ime, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Ime)
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Prezime</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.Prezime, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Prezime)
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Email</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Email)
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Grad</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.Grad, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Grad)
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Telefon</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.Telefon, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Telefon)
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Region</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.Region, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Region)
                                    </div>
                                </div>

                                <div class="form-actions">
                                    <input type="submit" value="Snimi" class="btn btn-success" />
                                </div>
                            }
                        </section>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--Footer-part-->
    <div class="row-fluid">
        <div id="footer" class="span12"> 2018 &copy; Digital Score. Power by DScore <a href="http://www.digitalscore.org"></a> </div>
    </div>
    <!--end-Footer-part-->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.ui.custom.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.uniform.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/jquery.validate.js"></script>
    <script src="js/herc.js"></script>
    <script src="js/herc.form_validation.js"></script>
</body>